body {
	background-image: url(../medias/background.png);
	background-repeat: no-repeat;
	background-size: 100%;
}



#menu img{
width: 60%;
	vertical-align: middle;


}

#menu {
	position: absolute;
	text-align: center;
			top: 25%


}

#menu .dys {
	position: absolute;
	width: 15%;
}

#dyslexie {
	top: -113px;
	left: 50%;
}
#dysphasie {
	top: 83%;
	left: 46%;
}

#dyspraxie {
		top: 35%;
	left: 72%;
}